* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}
:root {
  --blue-clr: #1a73e8;
  --white-clr: rgba(255, 255, 255, 0.947);
  --black-clr: #4a4a4a;
}

header {
  padding: 10px;
  max-width: 1150px;
  margin: auto;
  justify-content: space-between;
}
header a {
  text-decoration: none;
}
.header-wrapper {
  position: fixed;
  width: 100%;
  background-color: var(--white-clr);
  color: var(--dark-clr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo-container,
header {
  display: flex;
  align-items: center;
}
header img {
  margin-right: 5px;
}
header h1 {
  font-size: 16px;
}

main {
  color: var(--white-clr);
  background-color: var(--blue-clr);
  min-height: 100vh;
  /* padding-inline: 10px; */
  padding-block: 70px 0;
}
section#introduction {
  max-width: 1110px;
  padding-inline: 20px;
  margin: auto;

  padding-top: 4em;
}
section#introduction h1 {
  max-width: 590px;
  line-height: 3.6rem;
  font-size: 3rem;
  padding-bottom: 15px;
}
section#introduction p {
  font-size: 18px;
  max-width: 500px;
}
button {
  border: none;
  color: var(--blue-clr);
  background-color: var(--white-clr);
  font-weight: 500;
  border-radius: 7px;
  font-size: 15px;
  padding: 13px 35px;
  margin-top: 1.3em;
  cursor: pointer;
}
button:hover{
  opacity: .8;
}
button a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: var(--white-clr);
  margin-block: 3.8em;
}
section#documentation {
  background-color: var(--white-clr);
  color: var(--black-clr);
  padding:50px 35px;
  max-width: 1100px;
  margin: auto;
  border-radius: 10px;
}
section#documentation h1 {
  margin-bottom: 20px;
}
section#documentation h3 {
  text-align: left;
  margin-bottom: 10px;
}
section#documentation li {
  margin-left: 15px;
  margin-bottom: 15px;
  word-break: break-all;
}

footer {
  background-color: var(--white-clr);
  color: var(--black-clr);
  margin-top: 55px;
  padding: 25px 10px 30px;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-weight: bold;
}
footer ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
footer p {
  margin-top: 20px;
}
@media (max-width: 700px) {
  section#introduction h1 {
    font-size: 30px;
    line-height: 35px;
  }
  section#introduction button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
